{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <style>
            .title {
                width: 85%;
                display: inline-block;
            }
        </style>
        <div class="title">
            <h1>{{ .Title }}{{if .Params.blogpage}} - Written: {{.Date.Format "02 January 2006"}}{{end}}</h1>
        </div>
        {{ if .Params.sharebutton }}
        {{ partial "sharebutton.html" .}}
        {{end}}
    </div>
    <p class="lead">{{ .Params.description }}</p>
    {{ if or .Params.tags .Params.categories }}
    <div class="lead">
        <!-- If there are no tags, don't show the tags list. -->
        {{ if .Params.tags }}
        <b>Tags:
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </b>
        {{ end }}
        <br />
        {{ if .Params.categories }}
        <b>Categories: {{ range .Params.categories }}
            <a href="/categories/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </b>
        {{ end }}
    </div>
    {{ if .Params.projects }}
    <div class="lead">
        <b>Used in the {{ range .Params.projects }}
            <a href="/projects/{{ . | urlize }}">{{ . }}</a>
            {{ end }} Project.
        </b>
    </div>
    {{ end }}
    {{end}}
    {{ if .Params.draft}}
    <div class="lead">
        This page is work-in-progress! ⌛ Please mind the gap between the train and the platform edge. 🚧
    </div>
    {{end}}
    {{ .Content }}
</div>

{{ end }}