<div id="cookie-consent-box" style="display: none" class="cookie-consent-box nav-list nav">
    <div class="cookie-consent-text-container">
        <b><u>Hi there!</u></b>
        <br />
        <b>Sorry to interrupt, but I use Google Analytics Cookies to gather data from my site. Is that OK with
            you?</b>
        <div class="cookie-consent-button-container">
            <div class="cookie-consent-button">
                <p onclick="consentToCookies();hideCookieBox()" class="cookie-consent-button-accept">Accept</p>
            </div>
            <div class="cookie-consent-button">
                <p onclick="doNotConsentToCookies();hideCookieBox()" class="cookie-consent-button-decline">Decline</p>
            </div>
        </div>
    </div>
</div>
<script>
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>
<script>
    if (getCookie('cookie-consent-completed') == null) {
        document.getElementById("cookie-consent-box").style.display = "block";
    }
    function hideCookieBox() {
        setCookie('cookie-consent-completed', 'true', 365);
        var element = document.getElementById('cookie-consent-box');
        element.classList.remove('cookie-consent-box-slide-in');
        element.classList.add('cookie-consent-box-slide-out');
    }
</script>