<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
        {{ with .Site.Params.youtube }}<a href="{{ . }}">Youtube</a> {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> {{ end }}
        <a href="javascript:var KICKASS_SITE_KEY='test';var el = document.createElement('script'); el.src = '//hi.kickassapp.com/kickass-mysite.js';document.body.appendChild(el);void(0);">Bored?</a>
    </p>
</footer>

<!-- For every b tag with the class of header-link on the page, make it keyboard focusable -->
<!-- This is placed here so it is executed last - after the page has loaded. -->
<script>
    var headerLinks = document.getElementsByClassName('header-link');
    for (var i = 0; i < headerLinks.length; i++) {
        headerLinks[i].setAttribute("tabindex", "0");
    }
</script>
