<head>
    <title>{{if eq .Site.Title .Page.Title}}
        {{else}}
        {{ .Site.Title }} |
        {{end}}
        {{.Page.Title}}
        {{if eq .Page.Description ""}}
        {{else}}
        | {{.Date.Format "02 January 2006"}}
        {{end}}
    </title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000084" />
    <meta name="description"
        content="{{if not .Params.description}}{{ .Site.Params.mainpagesubtitle }}{{end}}{{ .Params.description }}" />
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <!-- <link rel="canonical" href="{{ .Site.BaseURL }}"> -->
</head>