<head>
    <title>
        {{if eq .Site.Title .Page.Title}}{{else}}{{ .Site.Title }} | {{end}}{{if .Params.taglist}}Tag - {{end}}{{if .Params.categorylist}}Category - {{end}}{{if .Params.projectlist}}Project - {{end}}{{.Page.Title}}{{ if .Params.blogpage}} | {{.Date.Format "02 January 2006"}}{{end}}
    </title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Don't higlight supposed phone numbers as links -->
    <meta name="format-detection" content="telephone=no" />

    <!-- Mobile browser header color -->
    <meta name="theme-color" content="#bbb" />

    <!-- Apple Stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="mask-icon" href="mask.svg" color="#F50080">

    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- If this ^^^ is enabled, IOS will treat this webisite as if it is a standalone app. Any links opened, even inter-site links will be treated as a website linked to by the 'app'. -->

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" href="/light-favicon.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/dark-favicon.svg" media="(prefers-color-scheme: dark)">

    <!-- Microsoft Stuff -->
    <meta name="msapplication-TileColor" content="#f50080">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <!-- Google site verification code -->
    <meta name="google-site-verification" content="{{ .Site.Params.googlesiteverification }}" />

    <meta name="description"
        content="{{if not .Params.description}}{{ .Site.Params.mainpagesubtitle }}{{end}}{{ .Params.description }}" />
</head>
