{{ define "main" }}

<style>
    .xclose {
        position: absolute;
        top: 0;
        right: 0;
        padding: 4.5px 9px;
        cursor: pointer;
        color: #fff;
        background-color: rgba(255, 0, 0, 0.8);
        font-size: 23px;
        border: none;
        outline: none
    }

    .share-popup-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 180px;
        z-index: 110
    }

    @media (max-width: 767px) {
        .share-popup-box {
            width: auto;
            height: auto
        }
    }

    .share-popup-box-text-container {
        color: #000
    }

    .share-option-button {
        border: none;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0;
        cursor: pointer
    }

    .share-option-button-whatsapp {
        background-color: #25D366;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-whatsapp:hover {
        background-color: #14C255
    }

    .share-option-button-twitter {
        background-color: #1DA1F2;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-twitter:hover {
        background-color: #0C90E1
    }

    .share-option-button-facebook {
        background-color: #4267B2;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-facebook:hover {
        background-color: #3156A1
    }

    .share-option-button-pintrest {
        background-color: #E60023;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-pintrest:hover {
        background-color: #D50012
    }

    .share-option-button-linkedin {
        background-color: #0077B5;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-linkedin:hover {
        background-color: #0066A4
    }

    .share-option-button-reddit {
        background-color: #FF4500;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-reddit:hover {
        background-color: #EE3400
    }

    .share-option-button-email {
        background-color: #3a3a3a;
        border: none;
        color: #fff;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .share-option-button-email:hover {
        background-color: #292929
    }

    @keyframes slideout {
        from {
            top: 50%
        }

        to {
            top: 130%
        }
    }

    @-webkit-keyframes slideout {
        from {
            top: 50%
        }

        to {
            top: 130%
        }
    }

    .slide-out {
        animation: slideout .3s;
        top: 130%
    }

    @keyframes slidein {
        from {
            top: 130%
        }

        to {
            top: 50%
        }
    }

    @-webkit-keyframes slidein {
        from {
            top: 130%
        }

        to {
            top: 50%
        }
    }

    .slide-in {
        animation: slidein .3s;
        top: 50%
    }

    button {
        margin: 0;
        padding: 5px 10px
    }

    .sharecontainer {
        display: block;
        margin-bottom: 10px
    }
</style>
<div style="top:130%;display:none" id="share-popup-box" class="share-popup-box nav-list nav">
    <b class="xclose" onclick="hideShareBox()">X</b>
    <div class="share-popup-box-text-container">
        <b><u>Share</u></b>
        <br />
        <b>Where do you want to share this website to?</b>
        <div>
            <div class="share-option-button">
                <p onclick="openRedditShare();" class="share-option-button-reddit">Reddit</p>
            </div>
            <div class="share-option-button">
                <p onclick="openTwitterShare();" class="share-option-button-twitter">Twitter</p>
            </div>
            <div class="share-option-button">
                <p onclick="openLinkedinShare();" class="share-option-button-linkedin">Linkedin</p>
            </div>
            <div class="share-option-button">
                <p onclick="openFacebookShare();" class="share-option-button-facebook">Facebook</p>
            </div>
            <div class="share-option-button">
                <p onclick="openWhatsappShare();" class="share-option-button-whatsapp">Whatsapp</p>
            </div>
            <div class="share-option-button">
                <p onclick="openPintrestShare();" class="share-option-button-pintrest">Pintrest</p>
            </div>
            <div class="share-option-button">
                <p onclick="openEmailShare();" class="share-option-button-email">Email</p>
            </div>
        </div>
    </div>
</div>
<script>
    function hideShareBox() { var e = document.getElementById("share-popup-box"); e.classList.remove("slide-in"), e.style.top = "130%", e.classList.add("slide-out"), setTimeout(function () { e.style.display = "none" }, 300) } function showShareBox() { var e = document.getElementById("share-popup-box"); e.classList.remove("slide-out"), e.style.top = "50%", e.style.display = "block", e.classList.add("slide-in") }
    var url = window.location.href;
    var text = "Check out this programming blog and webtoy collection I found on " + url + "!";
    var text_no_url = "Check out this programming blog and webtoy collection I found on {{ .Site.Title }}!";
    var whatsapp_url = "https://wa.me/?text=" + text;
    var twitter_url = "https://twitter.com/intent/tweet?text=" + text;
    var facebook_url = "https://www.facebook.com/sharer/sharer.php?u=" + url;
    var pintrest_url = "https://pinterest.com/pin/create/button/?url=" + url + "&description=" + text;
    var linkedin_url = "https://www.linkedin.com/shareArticle?mini=true&url=" + url + "&title=" + text;
    var reddit_url = "https://www.reddit.com/submit?url=" + url + "&title=" + text_no_url;
    var email_url = "mailto:?subject=" + text_no_url + "&body=" + url;
    function openWhatsappShare() { dataLayer.push({ 'event': 'share-button-pressed-whatsapp' }); window.open(whatsapp_url, "_blank") }
    function openTwitterShare() { dataLayer.push({ 'event': 'share-button-pressed-twitter' }); window.open(twitter_url, "_blank") }
    function openFacebookShare() { dataLayer.push({ 'event': 'share-button-pressed-facebook' }); window.open(facebook_url, "_blank") }
    function openPintrestShare() { dataLayer.push({ 'event': 'share-button-pressed-pintrest' }); window.open(pintrest_url, "_blank") }
    function openLinkedinShare() { dataLayer.push({ 'event': 'share-button-pressed-linkedin' }); window.open(linkedin_url, "_blank") }
    function openRedditShare() { dataLayer.push({ 'event': 'share-button-pressed-reddit' }); window.open(reddit_url, "_blank") }
    function openEmailShare() { dataLayer.push({ 'event': 'share-button-pressed-email' }); window.open(email_url, "_blank") }
</script>

<div class="row-fluid navmargin">
    <div class="page-header">
        <style>
            .title {
                width: 85%;
                display: inline-block;
            }
        </style>
        <div class="title">
            <h1>{{ .Site.Params.mainpagetitle }}</h1>
        </div>
        <style>
            .sharebutton {
                outline-color: black;
                outline-style: solid;
                outline-width: 3px;
                cursor: pointer;
                padding: 2px;
                width: 17px;
                height: 17px;
            }

            .sharebuttondiv {
                float: right;
                display: inline-block;
            }
        </style>
        <div class="sharebuttondiv">
            <svg class="sharebutton" onclick="showShareBox()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                    d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z" />
            </svg>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">{{ .Site.Params.mainpagesubtitle }}</p>
        <p></p>
        <p>{{ .Site.Params.mainpagedesc }}</p>
        <p></p>
        <hr class="soften">
        <p></p>
        <h1>{{ i18n "postslist" }}</h1>
        <br />
        <ul>
            {{ range first 10 (where .Site.Pages "Params.blogpage" true) }}
            <li> - <a href="{{ .RelPermalink }}">{{ .Title }} | {{.Date.Format "02 January 2006"}}</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="span3 bs-docs-sidebar">
        <h1><a href="/categories">{{ i18n "categories" }}</a></h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "categories.html" .}}
        </ul>
        <p></p>
        <h1><a href="/tags">{{ i18n "tags" }}</a></h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
    </div>
</div>

{{ end }}