{{ define "main" }}

{{ partial "sharebox.html" .}}

<div class="row-fluid navmargin">
    <div class="page-header">
        <style>
            .title {
                width: 85%;
                display: inline-block;
            }
        </style>
        <div class="title">
            <h1>{{ .Site.Params.mainpagetitle }}</h1>
        </div>
        {{ partial "sharebutton.html" .}}
    </div>
</div>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">{{ .Site.Params.mainpagesubtitle }}</p>
        <p></p>
        <p>{{ .Site.Params.mainpagedesc }}</p>
        <p></p>
        <hr class="soften">
        <p></p>
        <h1>{{ i18n "postslist" }}</h1>
        <br />
        <ul>
            {{ range first 10 (where .Site.Pages "Params.blogpage" true) }}
            <li> - <a href="{{ .RelPermalink }}">{{ .Title }} | {{.Date.Format "02 January 2006"}}</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="span3 bs-docs-sidebar">
        <h1><a href="/projects">Projects</a></h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "projects.html" .}}
        </ul>
        <p></p>
        <h1><a href="/categories">{{ i18n "categories" }}</a></h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "categories.html" .}}
        </ul>
        <p></p>
        <h1><a href="/tags">{{ i18n "tags" }}</a></h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
    </div>
</div>

{{ end }}